# This file may be used to install required packages via pip:
# $ pip install -r requirements.txt
# platform: win-64

waitress
flask < 2.4
flask-bcrypt

mysqlclient

pandas
openpyxl
numpy
geojson

requests

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
