#map-content {
    /* needed for choropleth legend to be in the correct spot I think */
    position: relative;
}

#map-title-container {
    position: absolute;
    top: var(--sl-spacing-x-large);
}

#map-title {
    text-align: center;
    font-size: var(--sl-font-size-x-large);
    color: red;
}

#map-filter-reset-button {
    width: fit-content;
}

sl-details.sidebar-detail-container::part(header) {
    padding-top: var(--sl-spacing-x-small);
    padding-bottom: var(--sl-spacing-x-small);
}

sl-details.sidebar-detail-container::part(content) {
    padding-top: 0px;
}

.map-clear-selection-buttion {
    width: 100%;
}
.map-icons-toggle {
    width: 100%;
}

/* histogram filters container */
#map-filters-container {
    max-height: auto;
}

#map-filters-container::part(content) {
    overflow-y: scroll;
    padding: var(--sl-spacing-x-small);
    padding-top: 0px;
    display: grid;
}

/* histogram filters */
.map-histogram-filter {
    width: 100%;
    height: 100px;
    border: 1px solid currentcolor;
    margin: var(--sl-spacing-3x-small);
}

.map-filter-end-text {
    fill: currentColor;
    font-size: var(--sl-font-size-2x-small);
}

/* choropleth legend */
#choropleth-legend {
    z-index: 10;
}

#choropleth-legend-svg text {
    fill: black
}

#choropleth-legend-svg line,path {
    stroke: black
}

/* sidebar with zcta details */
#map-secondary-sidebar-zcta-name {
    font-size: var(--sl-font-size-large);
    font-weight: var(--sl-font-weight-bold);
    text-align: center;
}

#map-secondary-sidebar-zcta-county {
    font-size: var(--sl-font-size-small);
    text-align: center;
}
.map-secondary-sidebar-value::part(textarea) {
    width: calc(100% - 2 * var(--sl-input-spacing-small));
    white-space: nowrap;
}

.map-secondary-sidebar-value::part(base) {
    cursor: auto;
}
