{% extends "subtemplates/panel.html" %}

{% block options %}
<div id="map-options" class="sidebar-container">
  <!-- reset map button (zoom & zcta selection) -->
  <sl-button pill id="map-reset-button" class="center-self">Reset Map</sl-button>
  <sl-divider class="options-divider"></sl-divider>

</div>

{% endblock %}

{% block contents %}
<sl-split-panel position="100" disabled id="map-and-minor-sidebar" class="fill-height main-content-split-panel">
    <sl-resize-observer slot="start" id="map-resizer" class="fill-height">
        <div id="map-div" class="scroll fill-height fill-width"></div>
    </sl-resize-observer>

    <!-- Content -->
    <div slot="end" id="map-secondary-sidebar" class="fill-height fill-width hide-overflow">
        <sl-tab-group id="map-secondary-sidebar-group">
            <sl-icon-button slot="nav" name="x-lg" id="map-secondary-sidebar-close"></sl-icon-button>
            <sl-tab-panel id="secondary-sidebar-blank-panel" name="blank"></sl-tab-panel>
            <sl-tab-panel id="mobile-clinic-info-panel" name="info">
                <p id="map-secondary-sidebar-org-name"></p>
                <sl-divider></sl-divider>
                <p class="map-secondary-sidebar-label"><u>Date</u></p>
                <p id="map-secondary-sidebar-event-date" class="map-secondary-sidebar-value"></p>
                <p class="map-secondary-sidebar-label"><u>Event Address</u></p>
                <p id="map-secondary-sidebar-event-address" class="map-secondary-sidebar-value"></p>
                <sl-divider></sl-divider>
                <p class="map-secondary-sidebar-label"><u>Event Type</u></p>
                <p id="map-secondary-sidebar-event-type" class="map-secondary-sidebar-value"></p>
                <p class="map-secondary-sidebar-label"><u>Number of Patients in Epic</u></p>
                <p id="map-secondary-sidebar-event-patients" class="map-secondary-sidebar-value"></p>
                <p class="map-secondary-sidebar-label"><u>Non-clinical Attendees</u></p>
                <p id="map-secondary-sidebar-event-non-clinical-attendants" class="map-secondary-sidebar-value"></p>
                <p class="map-secondary-sidebar-label"><u>Staff Members Present</u></p>
                <p id="map-secondary-sidebar-event-staff" class="map-secondary-sidebar-value"></p>
                <p class="map-secondary-sidebar-label"><u>Notes</u></p>
                <p id="map-secondary-sidebar-event-notes" class="map-secondary-sidebar-value"></p>
                <sl-divider></sl-divider>
                <p class="map-secondary-sidebar-label"><u>Point of Contact (POC)</u></p>
                <p id="map-secondary-sidebar-event-POC" class="map-secondary-sidebar-value"></p>
                <p class="map-secondary-sidebar-label"><u>POC Contact Information</u></p>
                <p id="map-secondary-sidebar-event-POC-contact" class="map-secondary-sidebar-value"></p>
                
            </sl-tab-panel>
        </sl-tab-group>
    </div>
</sl-split-panel>

</div>
{% endblock %}

{% block scripts %}
<script>
    mapResetButton = document.getElementById("map-reset-button")

    mapAndMinorSidebar = document.getElementById("map-and-minor-sidebar")
    mapSecondarySidebarGroup = document.getElementById("map-secondary-sidebar-group")
    mapSecondarySidebarClose = document.getElementById("map-secondary-sidebar-close")
    mobileClinicInfoPanel = document.getElementById("mobile-clinic-info-panel")

    mapSecondarySidebarOrgName = document.getElementById("map-secondary-sidebar-org-name")
    mapSecondarySidebarEventDate = document.getElementById("map-secondary-sidebar-event-date")
    mapSecondarySidebarEventAddress = document.getElementById("map-secondary-sidebar-event-address")
    mapSecondarySidebarEventType = document.getElementById("map-secondary-sidebar-event-type")
    mapSecondarySidebarEventPatients = document.getElementById("map-secondary-sidebar-event-patients")
    mapSecondarySidebarEventNonClinicalAttendants = document.getElementById("map-secondary-sidebar-event-non-clinical-attendants")
    mapSecondarySidebarEventStaff = document.getElementById("map-secondary-sidebar-event-staff")
    mapSecondarySidebarEventNotes = document.getElementById("map-secondary-sidebar-event-notes")
    mapSecondarySidebarEventPOC = document.getElementById("map-secondary-sidebar-event-POC")
    mapSecondarySidebarEventPOCContact = document.getElementById("map-secondary-sidebar-event-POC-contact")
    
    displayedMobileClinic = null
    
    set{{panel.name}}Panel()
</script>

<!-- <script type="module">
    await Promise.allSettled([ // wait for following to be defined/load in
        customElements.whenDefined('sl-textarea'),
    ])
    mobileClinicAddress.shadowRoot.querySelector("textarea").removeAttribute("rows")
</script> -->

<script src="{{ url_for('static', filename='js/health-partners/map-interactions.js') }}"></script>
<script src="{{ url_for('static', filename='js/health-partners/map.js') }}"></script>

{% endblock %}
