#hidden-comparison-maps > * {
    /* Container for the hidden disease maps */
    display: none
}

#visible-comparison-maps {
    /* Container for the visible disease maps */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.comparison-svg {
    /* Map svg */
    width: 100%;
    height: 100%;
}

.comparison-zcta-text {
    /* For tooltip - labels for zcta regions */
    visibility: collapse;
    fill: var(--sl-color-neutral-500);
    font-size: var(--sl-font-size-small);
    font-weight: bold;
}

.comparison-legend-background {
    /* legend background */
    fill: var(--sl-color-neutral-50);
    fill-opacity: .5;
}

.comparison-legend>text,
.tick>text {
    /* both color legend and hospitalization circle text */
    font-size: var(--sl-font-size-x-small);
    fill: currentColor;
}

.comparison-legend.title {
    /* titles for the legends */
    text-anchor: middle;
    font-size: var(--sl-font-size-small);
    fill: currentColor;
}