#grid-options {
  display: flex;
  flex-direction: column;
}

#grid-rate-switch {
  align-self: center;
}

/* grid item container */
#grid-container {
  /* div containing all the grid items */
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
  height: fit-content;
  max-width: calc(100%-em);
  width: 100%;
  overflow-y: auto;
  gap: .25em .25em; 
  padding: .5em;
  padding-right: .25em;
}


/* grid legend */
#grid-legend {
  /* div that contains the grid legend (line meanings) */
  background-color: var(--sl-color-neutral-0);
  opacity: .75;
  display: block;
  position: absolute;
  margin-left: 1em;
  bottom: 1em;
}

#grid-legend-svg {
  /* svg for grid legend */
  height: 3em;
  width: 200px;
}

#grid-legend-svg > line {
  /* lines in grid legend */
  stroke: currentColor;
}

#grid-legend-svg > text {
  fill: currentColor
}

#grid-legend-state-model-line {
  stroke-dasharray: 5, 5;
}

/* grid item */
.grid-item {
  /* svg for each grid item */
  display:block;
}

.grid-title {
  /* name of grid item (zcta) */
  fill: black;
  font-size: var(--sl-font-size-x-small);
}

.grid-subtitle {
  /* grid item subtitle (county zcta "belongs" to) */
  fill: black;
  font-size: var(--sl-font-size-2x-small);
}

.grid-value {
  /* text displaying value of grid item */
  fill: black;
  font-size: var(--sl-font-size-x-small);
}

/* grid tooltip */
#grid-container sl-tooltip {
  /* makes sure sl-tooltip doesn't cut off tooltip contents */
  --max-width: 800px;
}

.grid-container sl-tooltip::part(body), .grid-container sl-tooltip::part(base__arrow) {
  background-color: var(--sl-color-neutral-1000);
}

p, text {
  color: var(--sl-color-neutral-1000)
}