
#map-content {
    /* needed for choropleth legend to be in the correct spot I think */
    position: relative;
}

/* state hospitalizations */
#map-state-hospitalizations {
    padding: var(--sl-spacing-large) var(--sl-spacing-small);
}

#map-state-hospitalizations-large {
    --width: 65vw;
}

#map-state-hospitalizations-svg {
    width: 100%;
    height: 200px;
}

#map-state-hospitalizations-large-svg {
    width: 100%;
    aspect-ratio: 2;
}

.map-state-hospitalizations-title {
    text-align: center;
}

#map-state-hospitalizations-subtitle {
    font-size: var(--sl-font-size-x-small);
}

#map-state-hospitalizations-large-subtitle {
    font-size: var(--sl-font-size-small);
}

#map-state-hospitalizations-yaxis-title {
    font-size: var(--sl-font-size-x-small);
}

#map-state-hospitalizations-large-yaxis-title {
    font-size: var(--sl-font-size-medium);
}

/* map items */
.map-toggle::part(control--checked) {
    /* Hospital icons toggle color is grey */
    border-color: var(--sl-color-neutral-400);
    background-color: var(--sl-color-neutral-400);
}

path.map-county {
    /* SC counties */
    stroke-width: 1;
    stroke: black;
    fill: var(--sl-color-gray-300);
}

path.map-zcta {
    /* ZCTA map items */
    stroke-width: 0.2;
    stroke: black;
    stroke-linejoin: round;
}

/* legend components */
#choropleth-legend {
    position:absolute;
    bottom: var(--sl-spacing-small);
    left: var(--sl-spacing-small);
}

.map-legend-background {
    /* legend backgrounds */
    fill: var(--sl-color-neutral-50);
    fill-opacity: .5;
}

.map-legend text {
    /* legend text */
    font-size: var(--sl-font-size-x-small);
}

#map-legend-title {
    /* titles for the legends */
    font-size: var(--sl-font-size-medium);
    text-anchor: middle;
    fill: currentColor;
}

/* tooltip */
#map-tooltip-div {
    /* map tooltip's containing div */
    display: none;
    border-width: var(--sl-border-radius-small);
    border-style: solid;
    border-radius: .25em;
}
