.tooltip-div {
  background-color: white;
}


div.tooltip-region-info, div.tooltip-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: var(--sl-font-size-small);
}

div.tooltip-data-info {
  text-align: center;
  font-size: var(--sl-font-size-x-small);
}

div.tooltip-div p {
  color: black;
}

.tooltip.text {
  /* tooltip svg text */
  margin: 0;
  padding: 0;
  font-size: var(--sl-font-size-x-small);
  white-space: nowrap;
}

.tooltip-prediction-separator {
  /* line indicating the difference between prediction and reality */
  stroke-width: 1.5;
  stroke: black;
}

.tooltip-prediction-highlighter {
  /* grey rectangle that highlights the prediction in the tooltip */
  opacity: .5;
  fill: hsl(240 5.3% 58%);
}

.y-axis:not(.map-state-hospitalizations *) text, :is(.x-axis-historical, .x-axis-prediction) text {
  fill: black;
}
.y-axis:not(.map-state-hospitalizations *) :is(path,line), :is(.x-axis-historical, .x-axis-prediction) :is(path,line) {
  stroke: black
}