{% extends "base.html" %}
{% block title %}DMA-PRIME{% endblock %}
{% block style %}
<!-- Linking stylesheets -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landing-style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/map-style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/grid-style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/comparison-style.css') }}" />
{% endblock %}

{% block headScripts %}
<!-- Adding datetime package timejs (allows timezone date instantiation) -->
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/utc.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/timezone.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/customParseFormat.js"></script>

<script>
    // Ensuring the timejs additional plugins are linked
    dayjs.extend(window.dayjs_plugin_utc)
    dayjs.extend(window.dayjs_plugin_timezone)
    dayjs.extend(window.dayjs_plugin_customParseFormat)

    // A value... I forget where I got it from - I think the US census
    // TODO: Find a better place to put this value? maybe script.js?
    // TODO: Find source for value
    scPopulation = 5118425

    zctaData = null 
</script>

<!-- Contains helper functions/data/constants -->
<script src="{{ url_for('static', filename='js/landing-page/script.js') }}"></script>
{% endblock %}

{% block linkout %}
<!-- Link to prediction modelling/model exploration page -->
<!-- <sl-button slot="nav" id="prediction-modelling-button-link" href="{ url_for('modelExploration') }}" target="_blank"
    variant="text">Prediction Modelling <sl-icon name="box-arrow-up-right"></sl-icon></sl-button> -->
{% endblock %}

{% block bodyScripts %}

<script>

    addEventListener("load", () => {
        // display map for map panel, then resize
        mapInitialVisualization()
        // displayMap().then(function() {
        //     updateMap()
        //     mapSVG.call(mapZoom)
        //     mapResizer.addEventListener("sl-resize", () => {
        //         updateMap()
        //     })


        // Display aggregate visualizations for map
        //     Promise.all([displayMapAggregateChart(), displayMapDonut()]).then(() => {
        //         mapAggregationResizer.addEventListener("sl-resize", () => {
        //             displayMapAggregateChart()
        //             // displayMapDonut()
        //         })
        //     })
        // })
        
        // Create grid visualization
        gridInitialVisualization() 
        gridContainerResizer.addEventListener("sl-resize", () => {
            updateGridData()
        })
        
        // // Display aggregate visualizations for grid
        // Promise.all([displayGridAggregateChart(), displayGridDonut()]).then(() => {
        //     gridAggregationResizer.addEventListener("sl-resize", () => {
        //         displayGridAggregateChart()
        //         // displayGridDonut()
        //     })        
        // })

        // // Create 4 map comparison visualization
        // comparisonInitialVisualization()

        // // Display aggregate visualizations for comparison
        // Promise.all([displayComparisonAggregateChart(), displayComparisonDonut()]).then(() => {
        //     comparisonAggregationResizer.addEventListener("sl-resize", () => {
        //         displayComparisonAggregateChart()
        //         // displayComparisonDonut()
        //     })        
        // })

    });

    // Link the DMA-PRIME tab to map panel
    var navBar = document.getElementById("nav-bar")
    navBar.addEventListener("sl-tab-show", (event) => {
        if (event.detail.name == "main") {
            navBar.show("map")
        }
    })

    document.addEventListener("keyup", function(e) {
        if (e.key == "l") {
            d3.selectAll(".tooltip-label-group")
                .each(function(d) {
                    display = d3.select(this).attr("display") == "none" ? "initial" : "none"
                    d3.select(this).attr("display", display)
                })
        }
    })
</script>

{% endblock %}