
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
  <title>DMA-PRIME</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/themes/light.css" />
  <script type="module"
    src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/shoelace-autoloader.js"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landing-style.css') }}" />
  <!-- <script src="https://d3js.org/d3-collection.v1.min.js"></script> -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3-geo@3"></script>

</head>

<body>
  <!-- Top nav bar -->
  <sl-tab-group id="nav-bar">
    <sl-tab slot="nav" >DMA-PRIME</sl-tab>
    <!-- <sl-tab slot="nav" panel="county">County</sl-tab>
    <sl-tab slot="nav" panel="zip">Zip Code</sl-tab> -->
    <!-- <sl-tab slot="nav" panel="block">Census Block</sl-tab> -->
    <!-- <sl-tab slot="nav" panel="disabled" disabled>Disabled</sl-tab> -->
  </sl-tab-group>
  <!-- Main content -->
  <sl-split-panel position="20" disabled id="main-content" class="fill-height">

    <!-- Visualization options panel -->
    <div slot="start" id="options" class="fill-height"> <!-- This is the -->
      <div class="centering-container options-div">
        <sl-button pill id="reset-button">Reset Map</sl-button>
      </div>
      <sl-divider class="options-divider"></sl-divider>
      <sl-tree class="options-div">
        <sl-tree-item>
          <sl-switch id="show-diseases" checked><p class="options-header">Diseases</p></sl-switch>
          <sl-tree-item>
            <sl-checkbox checked>COVID-19</sl-checkbox>
          </sl-tree-item>
        </sl-tree-item>
      <sl-divider class="options-divider"></sl-divider>
      <sl-tree-item>
        <sl-switch id="show-hospitals" checked><p class="options-header">Hospitals</p></sl-switch>
        <sl-tree-item>Some Hospital Options here...</sl-tree-item>
      </sl-tree-item>        
      </sl-tree>
    </div>
    <!-- This is where the visualizations will sit -->
    <sl-split-panel slot="end" position="100" class="fill-height fill-width hide-overflow">
      <div slot="start" class="fill-width " id="map-div">
          <sl-resize-observer id="map-resizer" class="">
          <svg id="map-svg" class="scroll"></svg>
          </sl-resize-observer>
      </div>
      <div slot="end" id="details-div">
          <sl-resize-observer >
          <sl-tab-group placement="end" id="minor-vis-resizer">
              <!-- stuff will go in here from main vis interaction -->
          </sl-tab-group>
          </sl-resize-observer>
      </div>
    </sl-spit-panel>

  </sl-split-panel>

  <!-- Contains helper functions/data/constants -->
  <script src="{{ url_for('static', filename='js/landing-page/script.js') }}"></script>
  <!-- Functions to get the main (left) vis working -->
  <script src="{{ url_for('static', filename='js/landing-page/map.js') }}"></script>
  <!-- All the magic for panel resizing/vis options -->
  <script src="{{ url_for('static', filename='js/landing-page/interactions.js') }}"></script>
  <script>
    displayMap();
    addEventListener("load", () => {
      resizeMap();
    });
  </script>

</body>

</html>