.map-secondary-sidebar-label {
    font-size: var(--sl-font-size-medium);
}

.map-secondary-sidebar-value {
    font-size: var(--sl-font-size-small);
}

#map-secondary-sidebar-org-name {
    font-size: var(--sl-font-size-large);
    font-weight: var(--sl-font-weight-bold);
}
