#hidden-comparison-maps > * {
    /* Container for the hidden disease maps */
    display: none
}

#visible-comparison-maps {
    /* Container for the visible disease maps */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.comparison-svg {
    /* Map svg */
    width: 100%;
    height: 100%;
}

.comparison-tooltip-text {
    visibility: collapse;
    fill: var(--sl-color-neutral-500);
    font-size: var(--sl-font-size-small);
    font-weight: bold;
}
