/*

.grid-item {
  height: 150px;
  width: 250px;
  background-color: aliceblue;
} */


#grid-container {
  /* div containing all the grid item counties */
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
  height: fit-content;
  max-width: calc(100%-em);
  width: fit-content;
  overflow-y: auto;
  gap: .25em .25em; 
  padding: .5em;
  padding-right: .25em;
}

.grid-item {
  display:block;
}

.grid-title {
  fill: black;
  font-size: var(--sl-font-size-x-small);
}


.grid-subtitle {
  fill: black;
  font-size: var(--sl-font-size-2x-small);
}

.grid-value {
  fill: black;
  font-size: var(--sl-font-size-x-small);
}

sl-tooltip {
  --max-width: 800px;
}

#grid-legend {
  background-color: var(--sl-color-gray-900);
  opacity: .75;
  display: block;
  position: absolute;
  left: calc(20% + 1em);
  bottom: 1em;
}

#grid-legend-svg {
  height: 3em;
  width: 200px;
}

#grid-legend-svg > line {
  stroke: black;
}

#grid-legend-state-model-line {
  stroke-dasharray: 5, 5;
}

#grid-container div[slot="content"] {
  background-color: rgba(0,0,0,.85);
  color: white
 }
