.fill-height {
height: 100%;
}

.fill-width {
width: 100%;
}

.hide-overflow {
overflow:hidden
}

.scroll {
overflow:scroll;
overflow-x: scroll;
overflow-y: scroll;
}

.centering-container {
    display: flex;
    justify-content: center;
}

.options-div {
    padding: var(--sl-spacing-x-small)
}

.options-header {
    font-family: var(--sl-font-sans);
    font-size: var(--sl-font-size-large);
    margin-top: 0;
    margin-bottom: .5rem;
}

.options-divider {
    --spacing: 0;
    }

#main-content {
height: 100%;
}

#main-content-divider {
font-size: 2rem; 
background-color: lightgray;
}

#options {
height: 100%;
overflow: hidden; 
overflow-wrap: normal;
/* padding: var(--sl-spacing-2x-small); */
}

#map-svg {
    height: 100%;
    width: 100%;
}

#show-hospital-icons::part(control--checked)  {
      border-color: var(--sl-color-neutral-400);
      background-color: var(--sl-color-neutral-400);
}


/* The following is from  https://dev.to/lennythedev/css-gotcha-how-to-fill-page-with-a-div-270j*/
/* override browser default */
html,
body {
margin: 0;
padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
height: 100vh;
width: 100vw;
display: flex;
flex-flow: column;
}

/* include border and padding in element width and height */
* {
box-sizing: border-box;
}

