

#map-options-hospital-icons-toggle::part(control--checked) {
    /* Hospital icons toggle color is grey */
    border-color: var(--sl-color-neutral-400);
    background-color: var(--sl-color-neutral-400);
}

path.map-county {
    /* SC counties */
    stroke-width: 1;
    stroke: black;
    fill: var(--sl-color-gray-300);
}

path.map-zcta {
    /* ZCTA map items */
    stroke-width: 0.2;
    stroke: black;
    stroke-linejoin: round;
}

.map-legend-background {
    /* legend background - applies to multiple legends (color & circle) */
    fill: var(--sl-color-neutral-50);
    fill-opacity: .5;
}

/* legend components */
.map-legend>circle {
    /* hospitalization circle */
    fill: var(--sl-color-neutral-500);
    stroke: var(--sl-color-neutral-600);
    stroke-width: 3;
}

.map-legend>line {
    /* lines connecting hospitalization circles to labels */
    stroke-width: 1.5;
    stroke: var(--sl-color-neutral-800);
}

.map-legend>text {
    /* hospitalizaiton circles text */
    text-anchor: end;
    transform: scaleY(-1);
}

.map-legend>text,
.tick>text {
    /* both color legend and hospitalization circle text */
    font-size: var(--sl-font-size-x-small);
    fill: currentColor;
}

.map-legend.title {
    /* titles for the legends */
    text-anchor: middle;
    fill: currentColor;
}

#map-hospital-legend  text {
    /* The hospitalization bubble legend title */
    transform: scaleY(-1);
}

/* .disease-bubble, /* no longer exists*/
.hospital-bubble {
    /* data bubbles (for individual */
    fill-opacity: .25;
    stroke-width: 3;
    stroke-opacity: .3;
}

#map-tooltip {
    /* div containing the tooltip svg */
    position: absolute;
    display: none;
    border-width: var(--sl-border-radius-small);
    border-style: solid;
    border-radius: .25em;
    background-color: rgba(0, 0, 0, 0.75);
}

p.tooltip {
    /* tooltip label */
    margin: 0;
    padding-top: var(--sl-spacing-x-small);
    text-align: center;
    font-size: var(--sl-font-size-small);
}

.tooltip.text {
    /* tooltip svg text */
    margin: 0;
    padding: 0;
    font-size: var(--sl-font-size-x-small);
    white-space: nowrap;
}

#tooltip-prediction-separator {
    /* line indicating the difference between prediction and reality */
    stroke-width: 1.5;
    stroke: white;
}

#tooltip-prediction-highlighter {
    /* grey rectangle that highlights the prediction in the tooltip */
    opacity: .5;
    fill: var(--sl-color-gray-600);
}