{% extends "subtemplates/base.html" %}
{% block title %}DMA-PRIME{% endblock %}
{% block style %}
<!-- Linking stylesheets -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/waste-water/grid-style.css') }}" />
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/respiratory/map-style.css') }}" /> -->
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/respiratory/grid-style.css') }}" /> -->
{% endblock %}

{% block headScripts %}
<!-- Adding datetime package timejs (allows timezone date instantiation) -->
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/utc.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/timezone.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/customParseFormat.js"></script>

<script>
    // Ensuring the timejs additional plugins are linked
    dayjs.extend(window.dayjs_plugin_utc)
    dayjs.extend(window.dayjs_plugin_timezone)
    dayjs.extend(window.dayjs_plugin_customParseFormat)

</script>

<!-- maplibre gl -->
<link rel='stylesheet' href='https://unpkg.com/maplibre-gl@4.7.1/dist/maplibre-gl.css' />
<script src='https://unpkg.com/maplibre-gl@4.7.1/dist/maplibre-gl.js'></script>

<!-- deck gl -->
<script src="https://unpkg.com/deck.gl@latest/dist.min.js"></script>

<!-- Contains helper functions/data/constants -->
<script src="{{ url_for('static', filename='js/waste-water/script.js') }}"></script>
{% endblock %}

{% block linkout %}
{% endblock %}

{% block bodyScripts %}

{% endblock %}