{% extends "subtemplates/base.html" %}
{% block title %}DMA-PRIME{% endblock %}
{% block style %}
<!-- Linking stylesheets -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/opioid-hcv-hiv/map-style.css') }}" />
{% endblock %}

{% block headScripts %}
<!-- maplibre gl -->
<link rel='stylesheet' href='https://unpkg.com/maplibre-gl@4.7.1/dist/maplibre-gl.css' />
<script src='https://unpkg.com/maplibre-gl@4.7.1/dist/maplibre-gl.js'></script>

<!-- deck gl -->
<script src="https://unpkg.com/deck.gl@latest/dist.min.js"></script>

<script type="module">
    // import {Widget, FlyToInterpolator} from '@deck.gl/core';
</script>

{% endblock %}

{% block linkout %}
<!-- Link to prediction modelling/model exploration page -->
<!-- <sl-button slot="nav" id="prediction-modelling-button-link" href="{ url_for('modelExploration') }}" target="_blank"
    variant="text">Prediction Modelling <sl-icon name="box-arrow-up-right"></sl-icon></sl-button> -->
{% endblock %}

{% block bodyScripts %}

{% endblock %}