{% set min_width = "350px" %}
{% extends "subtemplates/panel.html" %}

{% block options %}
<div id="map-options" class="sidebar-container">
  <!-- reset map button (zoom & zcta selection) -->
  <sl-button pill id="map-reset-button" class="center-self map-option" size="small" disabled>Reset Map</sl-button>
  <sl-divider class="options-divider"></sl-divider>

  <!-- count vs rate switch -->
  <sl-radio-group value="count" id="map-rate-switch" class="center-self" size="small" >
    <sl-tooltip content="Count of hospitalizations">
      <sl-radio-button class="map-option" value="count" pill disabled>Count</sl-radio-button>
    </sl-tooltip>
    <sl-tooltip content="Hospitalizations per 1000 people">
      <sl-radio-button class="map-option" value="rate" pill disabled>Rate</sl-radio-button>
    </sl-tooltip>
    <sl-tooltip content="Percent change from last period">
      <sl-radio-button class="map-option" value="percent" pill disabled>Percent Change</sl-radio-button>
    </sl-tooltip>
  </sl-radio-group>

  <sl-radio-group value="weekly" id="map-time-switch" class="center-self" size="small">
    <sl-tooltip id="map-weekly-tooltip" content="Count for the week">
      <sl-radio-button class="map-option" value="weekly" pill disabled>Week</sl-radio-button>
    </sl-tooltip>
    <sl-tooltip id="map-monthly-tooltip" content="Count for the past 4 weeks">
      <sl-radio-button class="map-option" value="monthly" pill disabled>Month</sl-radio-button>
    </sl-tooltip>
    <sl-tooltip id="map-yearly-tooltip" content="Count for the past 52 weeks">
      <sl-radio-button class="map-option" value="yearly" pill disabled>Year</sl-radio-button>
    </sl-tooltip>
  </sl-radio-group>

  <sl-select value="state" id="map-region-selector" class="fill-width map-option" size="small" disabled>
    <p slot="label">Geographic Unit</p>
    <sl-option value="state">State</sl-option>
    <sl-option value="region">Region</sl-option>
    <sl-option value="county">County</sl-option>
    <sl-option value="zcta">Zip-Code Tabulation Area (ZCTA)</sl-option>
  </sl-select>

  <sl-select value="encounters" id="map-outcome-variable-selector" class="fill-width map-option" size="small" disabled>
    <p slot="label">Outcome Variable</p>
    <sl-tooltip content="Unique recorded diagnoses or positive tests">
      <sl-option value="encounters">Encounters</sl-option>
    </sl-tooltip>
    <sl-tooltip content="Unique diagnosis">
      <sl-option value="diagnoses">Diagnoses</sl-option>
    </sl-tooltip>
    <sl-option value="positive_tests">Positive Tests</sl-option>
    <sl-option value="emergency_department_visits">Emergency Department Visits</sl-option>
    <sl-option value="inpatient_hospitalizations">Inpatient Hospitalizations</sl-option>
  </sl-select>

  <!-- disease selector -->
  <sl-details id="map-disease-selector-container" open>
    <p slot="summary">Select a disease or group of diseases</p>
    <p id="disease-explanation">Disease (<sl-tooltip content="Please be advised, the numbers shown here reflect the current state of the data. They may differ from the previous week due to reporting delay."><tspan class="disease-last-week-value">Last Week*</tspan></sl-tooltip>, <tspan class="disease-current-week-value">Current Week</tspan>, <tspan class="disease-current-week-value">Percent Change</tspan>)</p>
    <sl-checkbox id="map-all-disease-selector" class="map-option" size="small" disabled>All Diseases <span id="map-all-count"></span></sl-checkbox>
    {% for disease in metadata['diseases'] %}
    <sl-checkbox id="map-{{ disease['disease-name'] }}-selector" class="disease-checkbox map-option" disease="{{ disease['disease-name'] }}" size="small" disabled>{{ disease['display-name'] }} <span id="map-{{ disease['disease-name'] }}-count"></span></sl-checkbox>
    {% endfor %}
  </sl-details>  
  
  <sl-divider class="options-divider"></sl-divider>
  
  <!-- map icon inclusion checkboxes (hospital, mobile health clinic, community partners) -->
  <p style="margin-top: 1em; margin-bottom: 0.5em; font-weight: bold;">Map Resources</p>
  <sl-checkbox id="map-options-hospital-icons-toggle" class="map-icons-toggle map-option" size="small" disabled>Hospitals</sl-checkbox>
  <sl-checkbox id="map-options-mobile-clinic-icons-toggle" class="map-icons-toggle map-option" size="small" disabled>Mobile Health Clinics</sl-checkbox>
  <sl-checkbox id="map-options-community-partner-icons-toggle" class="map-icons-toggle map-option" size="small" disabled>Community Partners</sl-checkbox>

  <sl-divider class="options-divider"></sl-divider>
  <sl-checkbox id="map-options-geographic-labels-toggle" class="map-toggle map-option" size="small" disabled>Geography Labels</sl-checkbox>
  

</div>

<sl-resize-observer id="aggregated-disease-history-resizer">
  <div id="aggregated-disease-history-container" class="fill-width">
    <p id="aggregated-disease-history-title">State Wide Disease Encounters</p>
    <p id="aggregated-disease-history-subtitle" >N/A</p>
    <svg id="aggregated-disease-history"></svg>
  </div>
</sl-resize-observer>

<sl-dialog id="aggregated-disease-history-large" class="dialog-width" >
  <div slot="label">
    <p id="aggregated-disease-history-large-title">State Wide Disease Encounters</p>
    <p id="aggregated-disease-history-large-subtitle" >N/A</p>
  </div>
  <sl-resize-observer id="aggregated-disease-history-resizer-large">
    <svg id="aggregated-disease-history-large-svg"></svg>
  </sl-resize-observer>
</sl-dialog>
{% endblock %}

{% block contents %}
<div class="fill-width fill-height" id="map-div">
</div>
<div id="choropleth-legend" style="position:absolute; bottom: 0; left:0;">
  <svg id="choropleth-legend-svg"></svg>
</div>
<div id="map-title-container" class="fill-width">
  <p id="map-title">Count of Weekly Positive Tests in Prisma and MUSC Health Systems</p>
</div>
<div id="map-loading-div">
  <p id="loading-text">Loading</p>
  <svg id="loading-dots-svg">
    <circle class="loading-dot animate"></circle>
    <circle class="loading-dot animate"></circle>
    <circle class="loading-dot animate"></circle>
  </svg>
</div>
<sl-dialog id="map-tooltip-large" class="dialog-width map-tooltip-large-dialog">
  <div id="map-tooltip-large-div" class="tooltip-div map-tooltip-large-content"></div>
</sl-dialog>
{% endblock %}

{% block scripts %}
<script>

  mapResetButton = document.getElementById("map-reset-button")
  mapTimeSwitch = document.getElementById("map-time-switch")
  mapRateSwitch = document.getElementById("map-rate-switch")
  mapRegionSelector = document.getElementById("map-region-selector")
  mapOutcomeVariableSelector = document.getElementById("map-outcome-variable-selector")

  mapWeeklyTooltip = document.getElementById("map-weekly-tooltip")
  mapMonthlyTooltip = document.getElementById("map-monthly-tooltip")
  mapYearlyTooltip = document.getElementById("map-yearly-tooltip")

  mapAllDiseaseSelector = document.getElementById("map-all-disease-selector")
  mapOptionsGeographicLabelsToggle = document.getElementById("map-options-geographic-labels-toggle")

  aggregatedDiseaseHistoryResizer = document.getElementById("aggregated-disease-history-resizer")
  aggregatedDiseaseHistoryContainer = document.getElementById("aggregated-disease-history-container")
  aggregatedDiseaseHistoryTitle = document.getElementById("aggregated-disease-history-title")
  aggregatedDiseaseHistorySubtitle = document.getElementById("aggregated-disease-history-subtitle")
  aggregatedDiseaseHistory = document.getElementById("aggregated-disease-history")

  aggregatedDiseaseHistoryLarge = document.getElementById("aggregated-disease-history-large")
  aggregatedDiseaseHistoryLargeTitle = document.getElementById("aggregated-disease-history-large-title")
  aggregatedDiseaseHistoryLargeSubtitle = document.getElementById("aggregated-disease-history-large-subtitle")
  aggregatedDiseaseHistoryLargeSvg = document.getElementById("aggregated-disease-history-large-svg")
  aggregatedDiseaseHistoryResizerLarge = document.getElementById("aggregated-disease-history-resizer-large")

  mapTitle = document.getElementById("map-title")
  mapDiv = document.getElementById("map-div")
  choroplethLegendSVG = document.getElementById("choropleth-legend-svg")
  mapTooltipLarge = document.getElementById("map-tooltip-large")
  
  hospitalIconsToggle = document.getElementById("map-options-hospital-icons-toggle")
  // cdapIconsToggle = document.getElementById("map-options-cdap-toggle")
  mobileClinicIconsToggle = document.getElementById("map-options-mobile-clinic-icons-toggle")
  communityPartnerIconsToggle = document.getElementById("map-options-community-partner-icons-toggle")

</script>

<script type="module">
  await Promise.allSettled([ // wait for following to be defined/load in
        customElements.whenDefined('sl-tab-group'),
        customElements.whenDefined('sl-button'),
        customElements.whenDefined('sl-select'),
        customElements.whenDefined('sl-option'),
        customElements.whenDefined('sl-resize-observer'),
        customElements.whenDefined('sl-split-panel'),
        customElements.whenDefined('sl-tab'),
    ])
  set{{panel.name}}Panel()

</script>

<script src="{{ url_for('static', filename='js/outbreak-detection/map.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/outbreak-detection/map-interactions.js') }}" type="module"></script>
{% endblock %}
