{% extends "subtemplates/panel.html" %}

{% block options %}
<div id="{{panel.name}}-options" class="sidebar-container">
  <sl-radio-group value="total" id="{{panel.name}}-population-switch" class="center-self" size="small">
    <sl-radio-button pill value="total">Total</sl-radio-button>
    <sl-radio-button pill value="pop-norm">Pop. Norm.</sl-radio-button>
  </sl-radio-group>

  <p id="{{panel.name}}-summary" class="{{panel.name}}-options">
    Monthly count of hospitalizations due to covid-19, influenza, and respiratory syncytial virus (RSV).
    <br/>
    Hospitalization cases are aggregated by county.
  </p>
  <div id="{{panel.name}}-options-hospitalizations-branch" class="{{panel.name}}-options">
    <sl-checkbox id="comparison-aggregated-check" class="comparison-check" disease="aggregated" checked>Aggregated</sl-checkbox>

  </div>

</div>

<!-- Aggregation visualization -->
<div class="options-div" id="{{panel.name}}-aggregation-vis" class="aggregation-vis">
  <svg id="{{panel.name}}-aggregation-donut-svg" class="fill-width aggregation-donut">
    <defs>
      <pattern id="nan-pattern"
          width="2.5%" height="2.5%"
          patternUnits="userSpaceOnUse"
          patternTransform="rotate(45)">
        <line stroke="white" stroke-width="3%" y2="2.5%"/>
      </pattern>
      <mask id="nan-pattern-mask" x="-100%" y="-100%" width="200%" height="200%" >
        <rect x="-100%" y="-100%" width="200%" height="200%" fill="url(#nan-pattern)" />
      </mask>
    </defs>
    <g id="{{panel.name}}-aggregation-donut"></g>
    <!-- <rect style="width: 100%; height: 100%;"></rect> -->
  </svg>
  <sl-resize-observer id="{{panel.name}}-aggregation-resizer">
    <svg id="{{panel.name}}-aggregation-svg" class="fill-width aggregation-svg">

    </svg>
  </sl-resize-observer>
</div>
{% endblock %}

{% block contents %}
<sl-resize-observer id="comparison-resizer">
  <div id="visible-comparison-maps" class="fill-height fill-width">
    <div id="comparison-aggregated-container" class="comparison-container">
        <svg id="comparison-aggregated-svg" class="comparison-svg" disease="aggregated">
          <text id="comparison-aggregated-tooltip-text" class="comparison-tooltip-text"></text>
        </svg>
    </div>
  </div>
  <div id="hidden-comparison-maps"></div>
</sl-resize-observer>

{% endblock %}

{% block scripts %}
<script>
  // containing elements
  var comparisonContainer = document.getElementById("comparison-container")
  var comparisonResizer = document.getElementById("comparison-resizer")
  var comparisonAggregationResizer = document.getElementById("comparison-aggregation-resizer")
  var comparisonOptionsHospitalizationsBranch = document.getElementById("comparison-options-hospitalizations-branch")
  var visibleComparisonMaps = document.getElementById("visible-comparison-maps")
  var hiddenComparisonMaps = document.getElementById("hidden-comparison-maps")

  // interactive elements
  var comparisonPopulationSwitch = document.getElementById("comparison-population-switch")

  // aggregation visualization elements
  var jscomparisonAggregationDonutSvg = document.getElementById("comparison-aggregation-donut-svg")
  var comparisonAggregationDonutGroup = d3.select("#comparison-aggregation-donut")
  var comparisonAggregationSvg = d3.select("#comparison-aggregation-svg")
  
  // visualization data
  var comparisonMapData = null
  var comparisonStats = null

  // visualization functions
  var comparisonProjection = null
  var comparisonColormaps = null

  comparisonCheckFunction = function(e) {
    div = d3.select(`#comparison-${d3.select(this).attr("disease")}-container`)

    if(div.classed("hidden")) {
      visibleComparisonMaps.appendChild(div.node())
      div.classed("hidden", false)
    } else {
      hiddenComparisonMaps.appendChild(div.node())
      div.classed("hidden", true)
    }
    resizeComparisonMaps()

  }

  aggCheck = document.getElementById("comparison-aggregated-check")
        aggCheck.style.display = "block"
        aggCheck.addEventListener("sl-change", comparisonCheckFunction)
        
  styleSheet.insertRule(
      `#comparison-aggregated-check::part(control--checked)  {
          border-color: saddlebrown;
          background-color: saddlebrown;}`
      )

  Object.entries(diseaseIndexing).forEach((entry) => {
    // Creating base elements to contain the disease maps
      createComparisonCheck(entry[0], diseaseColorMap(entry[0]))
      svg = d3.select(visibleComparisonMaps)
          .append("div")
              .attr("id", `comparison-${entry[0]}-container`)
              .attr("class", "comparison-container")
          .append("svg")
              .attr("id", `comparison-${entry[0]}-svg`)
              .attr("class", "comparison-svg")
              .attr("disease", entry[0])
          .append("text")
              .attr("id", `comparison-${entry[0]}-tooltip-text`)
              .attr("class", "comparison-tooltip-text")
  })

  function createComparisonCheck(disease, color) {
    check = d3.select(comparisonOptionsHospitalizationsBranch)
      .append("sl-checkbox")
      .attr("id", "comparison-" + disease + "-check")
      .attr("class", "comparison-check")
      .attr("disease", disease)
      .attr("checked", "")
      .style("display", "block")
      .html(disease)

    check.node().addEventListener("sl-change", comparisonCheckFunction)
    
    styleSheet.insertRule(
      `#comparison-${disease}-check::part(control--checked)  {
            border-color: ${color};
            background-color: ${color};}`
      )
  }

  async function displayComparisonAggregateChart() {
    displayAggregateChart(
        "comparison",
        comparisonAggregationSvg,
        false,
        comparisonPopulationSwitch.value != "total",
        getVisibleDiseases("comparison")
    )
  }

  async function displayComparisonDonut() {
      displayDonut(
          "comparison",
          jscomparisonAggregationDonutSvg,
          comparisonAggregationDonutGroup
      )
  }

  set{{panel.name}}Panel()
</script>

<script src="{{ url_for('static', filename='js/landing-page/comparison.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/landing-page/grid-aggregation.js') }}"></script> -->
<script src="{{ url_for('static', filename='js/landing-page/comparison-interactions.js') }}"></script>
{% endblock %}