{% extends "subtemplates/panel.html" %}

{% block options %}
<div id="grid-options" class="sidebar-container">
  <sl-radio-group value="aggregated" id="grid-aggregation-switch" class="center-self" size="small">
    <sl-radio-button pill value="aggregated">Aggregated</sl-radio-button>
    <sl-radio-button pill value="individual">Individual</sl-radio-button>
  </sl-radio-group>
  <sl-radio-group value="total" id="grid-population-switch" class="center-self" size="small">
    <sl-radio-button pill value="total">Total</sl-radio-button>
    <sl-radio-button pill value="pop-norm">Pop. Norm.</sl-radio-button>
  </sl-radio-group>

  <p id="grid-summary">
    Monthly count of hospitalizations due to covid-19, influenza, and respiratory syncytial virus (RSV).
    <br/>
    Hospitalization cases are aggregated by zcta.
  </p>
  <div id="grid-options-hospitalizations-branch">

  </div>

</div>

<!-- Aggregation visualization -->
<div class="options-div" id="{{panel.name}}-aggregation-vis" class="aggregation-vis">
  <svg id="{{panel.name}}-aggregation-donut-svg" class="fill-width aggregation-donut">
    <defs>
      <pattern id="nan-pattern"
          width="2.5%" height="2.5%"
          patternUnits="userSpaceOnUse"
          patternTransform="rotate(45)">
        <line stroke="white" stroke-width="3%" y2="2.5%"/>
      </pattern>
      <mask id="nan-pattern-mask" x="-100%" y="-100%" width="200%" height="200%" >
        <rect x="-100%" y="-100%" width="200%" height="200%" fill="url(#nan-pattern)" />
      </mask>
    </defs>
    <g id="{{panel.name}}-aggregation-donut"></g>
  </svg>
  <sl-resize-observer id="{{panel.name}}-aggregation-resizer">
    <svg id="{{panel.name}}-aggregation-svg" class="fill-width aggregation-svg">

    </svg>
  </sl-resize-observer>
</div>
{% endblock %}

{% block contents %}
<!-- TODO: make a legend -->
<sl-resize-observer id="grid-container-resizer">
  <div id="grid-container"></div>
</sl-resize-observer>
{% endblock %}

{% block scripts %}
<script>
  // containing elements
  var gridContainer = document.getElementById("grid-container")
  var gridContainerResizer = document.getElementById("grid-container-resizer")
  var gridAggregationResizer = document.getElementById("grid-aggregation-resizer")
  var gridOptionsHospitalizationsBranch = document.getElementById("grid-options-hospitalizations-branch")

  // interactive elements
  var gridPopulationSwitch = document.getElementById("grid-population-switch")
  var gridAggregationSwitch = document.getElementById("grid-aggregation-switch")

  // aggregation visualization elements
  var jsgridAggregationDonutSvg = document.getElementById("grid-aggregation-donut-svg")
  var gridAggregationDonutGroup = d3.select("#grid-aggregation-donut")
  var gridAggregationSvg = d3.select("#grid-aggregation-svg")

  function createGridCheck(disease, color) {
    // creates checks corresponding to each disease hospitalization data
    check = d3.select(gridOptionsHospitalizationsBranch)
      .append("sl-checkbox")
      .attr("id", "grid-" + disease + "-check")
      .attr("class", "grid-check")
      .attr("disease", disease)
      .attr("checked", "")
      .style("display", "none")
      .html(disease)

    check.node().addEventListener("sl-change", (e) => {
      updateCountyGraphs()
      displayGridAggregateChart()
    })
    
    styleSheet.insertRule(
      // colors checks according to disease
      `#grid-${disease}-check::part(control--checked)  {
            border-color: ${color};
            background-color: ${color};}`
      )
  }

  async function displayGridAggregateChart() {
    displayAggregateChart(
        "grid",
        gridAggregationSvg,
        gridAggregationSwitch.value == "aggregated",
        gridPopulationSwitch.value != "total",
        getVisibleDiseases("grid")
    )
  }

  async function displayGridDonut() {
      displayDonut(
          "grid",
          jsgridAggregationDonutSvg,
          gridAggregationDonutGroup
      )
  }


  set{{panel.name}}Panel()
</script>

<script src="{{ url_for('static', filename='js/landing-page/grid.js') }}"></script>
<script src="{{ url_for('static', filename='js/landing-page/grid-interactions.js') }}"></script>
{% endblock %}