<sl-tab id="{{panel.name}}-tab" slot="nav" panel="{{panel.name}}" 
      {% if panel.active %}active{% endif %}>
        {{panel.displayName}}
      </sl-tab>
      <sl-tab-panel name="{{panel.name}}" id="{{panel.name}}-panel">
          <sl-split-panel position="20" disabled id="{{panel.name}}-main-content" class="fill-height">
              <div slot="start" id="{{panel.name}}-options" class="fill-height">
                <div class="centering-container options-div">
                    <sl-button pill id="reset-button">Reset Map</sl-button>
                </div>
                <sl-divider class="options-divider"></sl-divider>
                <sl-tree class="options-div">
                    <sl-tree-item id="hospital-switch-branch" expanded>
                        <sl-switch id="show-hospitals" checked><p class="options-header">Hospitalizations</p></sl-switch>
                        <sl-tree-item>Monthly count of hospitalizations due to the below diseases.</sl-tree-item>
                    </sl-tree-item>
                    <sl-tree-item><sl-checkbox id="show-hospital-icons" checked>Hospital Icons</sl-checkbox></sl-tree-item>
                </sl-tree>
              </div>
              <div slot="end" id="{{panel.name}}-content" class="fill-height fill-width hide-overflow">
                <div class="fill-width fill-height" id="map-div">
                    <sl-resize-observer id="map-resizer">
                      <sl-radio-group value="aggregated" id="map-aggregation-switch">
                        <sl-radio-button pill value="aggregated">Aggregated</sl-radio-button>
                        <sl-radio-button pill value="individual">Individual</sl-radio-button>
                      </sl-radio-group>
                      <svg id="map-svg" class="scroll fill-height fill-width"></svg>
                    </sl-resize-observer>
                    <div id="tooltip">
                      <p class="tooltip"></p>
                      <svg id="tooltip-svg">
                      <!-- set via interactions -->
                      </svg>
                    </div>          
                </div>
              </div>
          </sl-split-panel>
      </sl-tab-panel>
      <script>
        Object.assign(mainContent, 
        {"{{panel.name}}": document.getElementById("{{panel.name}}-main-content")})
        Object.assign(panels, 
        {"{{panel.name}}": document.getElementById("{{panel.name}}-panel")})
        addEventListener("resize", (event) => {
          if(panels["{{panel.name}}"].active){
            if (document.body.clientWidth * 20 / 100 < 250) {
              mainContent["{{panel.name}}"].setAttribute("position", 250 / document.body.clientWidth * 100)
            } else {
              mainContent["{{panel.name}}"].setAttribute("position", 20)
            }}
        });

        if (document.body.clientWidth * 20 / 100 < 250) {
          mainContent["{{panel.name}}"].setAttribute("position", 250 / document.body.clientWidth * 100)
        }
      </script>