{% extends "subtemplates/panel.html" %}

{% block options %}
<div id="map-options">
  <sl-button pill id="map-reset-button" class="map-options-centered">Reset Map</sl-button>
  <sl-divider class="options-divider"></sl-divider>
  <sl-radio-group value="aggregated" id="map-aggregation-switch" class="map-options-switch map-options-centered" size="small">
    <sl-radio-button pill value="aggregated">Aggregated</sl-radio-button>
    <sl-radio-button pill value="individual">Individual</sl-radio-button>
  </sl-radio-group>
  <sl-radio-group value="total" id="map-population-switch" class="map-options-switch map-options-centered" size="small">
    <sl-radio-button pill value="total">Total</sl-radio-button>
    <sl-radio-button pill value="pop-norm">Pop. Norm.</sl-radio-button>
  </sl-radio-group>
  
  <p id="map-summary" class="map-options">
    Monthly count of hospitalizations due to covid-19, influenza, and respiratory syncytial virus (RSV).
    <br/>
    Hospitalization cases are aggregated by zip code tabulation area (zcta).
  </p>
  <sl-checkbox id="map-options-hospital-icons-toggle" class="map-options" checked >Hospital Icons</sl-checkbox>
  <div id="map-options-hospitalizations-branch" class="map-options">

  </div>
  <!-- <sl-tree class="options-div">
    <sl-tree-item id="map-options-hospitalizations-branch" expanded>
      <sl-switch id="map-options-hospitalizations-toggle" checked>
        <p class="options-header">Hospitalizations</p>
      </sl-switch>
      <sl-tree-item>Monthly count of hospitalizations due to the below diseases.</sl-tree-item>
    </sl-tree-item>
    <sl-tree-item><sl-checkbox id="map-options-hospital-icons-toggle" checked>Hospital Icons</sl-checkbox></sl-tree-item>
  </sl-tree> -->
</div>
<div class="options-div" id="map-aggregation-vis">
  <svg id="map-aggregation-donut-svg" class="fill-width">
    <defs>
      <pattern id="nan-pattern"
          width="2.5%" height="2.5%"
          patternUnits="userSpaceOnUse"
          patternTransform="rotate(45)">
        <line stroke="white" stroke-width="3%" y2="2.5%"/>
      </pattern>
      <mask id="nan-pattern-mask" x="-100%" y="-100%" width="200%" height="200%" >
        <rect x="-100%" y="-100%" width="200%" height="200%" fill="url(#nan-pattern)" />
      </mask>
    </defs>
    <g id="map-aggregation-donut"></g>
    <!-- <rect style="width: 100%; height: 100%;"></rect> -->
  </svg>
  <sl-resize-observer id="map-aggregation-resizer">
    <svg id="map-aggregation-svg" class="fill-width">

    </svg>
  </sl-resize-observer>
</div>

{% endblock %}

{% block contents %}
<div class="fill-width fill-height" id="map-div">
  <sl-resize-observer id="map-resizer">
    <svg id="map-svg" class="scroll fill-height fill-width"></svg>
  </sl-resize-observer>
  <div id="map-tooltip">
    <p class="tooltip"></p>
    <svg id="map-tooltip-svg">
      <!-- set via interactions -->
    </svg>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  // containing elements
  var mapResizer = document.getElementById("map-resizer")
  var mapAggregationResizer = document.getElementById("map-aggregation-resizer")
  var mapDiv = document.getElementById("map-div")
  var hospitalizationsBranch = document.getElementById("map-options-hospitalizations-branch")

  // interactive elements
  var resetButton = document.getElementById("map-reset-button")
  var mapAggregationSwitch = document.getElementById("map-aggregation-switch")
  var mapPopulationSwitch = document.getElementById("map-population-switch")
  // var hospitalizationsToggle = document.getElementById("map-options-hospitalizations-toggle")
  var hospitalIconsToggle = document.getElementById("map-options-hospital-icons-toggle")

  // visualization elements
  var jsmapAggregationDonutSvg = document.getElementById("map-aggregation-donut-svg")
  var mapAggregationDonutSvg = d3.select("#map-aggregation-donut-svg")
  var mapAggregationDonut = d3.select("#map-aggregation-donut")
  var jsmapAggregationSvg = document.getElementById("map-aggregation-svg")
  var mapAggregationSvg = d3.select("#map-aggregation-svg")
  var jsmapSVG = document.getElementById("map-svg")
  var mapSVG = d3.select("#map-svg")
  var mapTooltip = document.getElementById("map-tooltip")

  var countiesGroup = d3.select("#map-counties")

  var width = jsmapSVG.width.baseVal.value
  var height = jsmapSVG.height.baseVal.value

  var mapProjection = null
  var mapData = null
  var zoom = 1
  var xSkew = 0
  var ySkew = 0

  var heatmapColorMap = null
  var hospitalRadiusMap = null

  var diseaseStats = null
  var diseaseMetadata = null
  var hospitalStats = null
  var hospitalMetadata = null

  var focusCounty = null

  function createHospitalCheck(disease, color) {
    check = d3.select(hospitalizationsBranch)
      .append("sl-checkbox")
      .attr("id", "hospital-" + disease + "-check")
      .attr("class", "hospital-check ")
      .attr("disease", disease)
      .attr("checked", "")
      .style("display", "none")
      .html(disease)

    check.node().addEventListener("sl-change", (e) => {
      checker = e.target
      displayMapAggregateChart()
      bubbleGroup = d3.select("#" + checker.getAttribute("disease") + "-hospital-data")
      if (checker.checked) {
        bubbleGroup.raise().style("opacity", 1)
        bubbleGroup.selectAll("*").each(function (d) {
          hospitalTooltip(d3.select(this))
        })
      } else {
        bubbleGroup.lower().style("opacity", 0)
        bubbleGroup.selectAll("*").each(function (d) {
          removeTooltip(d3.select(this))
        })
      }
    })
    styleSheet.insertRule(
      "#hospital-" + disease + `-check::part(control--checked)  {
            border-color: `+ color + `;
            background-color: `+ color + `;
        }
      `)
  }

  function getVisibleHospitalDiseases() {
    diseases = []
    d3.selectAll(".hospital-check").each(function(d){
        if (this.checked) {
            diseases.push(this.getAttribute("disease"))
        }
    })
    return diseases
  }
  set{{panel.name}}Panel()
</script>

<script src="{{ url_for('static', filename='js/landing-page/map-aggregation.js') }}"></script>
<script src="{{ url_for('static', filename='js/landing-page/map.js') }}"></script>
<script src="{{ url_for('static', filename='js/landing-page/map-interactions.js') }}"></script>

{% endblock %}
