{% extends "subtemplates/base.html" %}
{% block title %}DMA-PRIME{% endblock %}
{% block style %}
<!-- Linking stylesheets -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/state-disease-data/map-style.css') }}" />
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/respiratory/map-style.css') }}" /> -->
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/respiratory/grid-style.css') }}" /> -->
{% endblock %}

{% block headScripts %}
<!-- Adding datetime package timejs (allows timezone date instantiation) -->
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/utc.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/timezone.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/customParseFormat.js"></script>

<script>
    // Ensuring the timejs additional plugins are linked
    dayjs.extend(window.dayjs_plugin_utc)
    dayjs.extend(window.dayjs_plugin_timezone)
    dayjs.extend(window.dayjs_plugin_customParseFormat)

    // A value... I forget where I got it from - I think the US census
    // TODO: Find a better place to put this value? maybe script.js?
    // TODO: Find source for value
    scPopulation = 5118425

    zctaData = {}
    // zctaData = null
</script>

<!-- maplibre gl -->
<link rel='stylesheet' href='https://unpkg.com/maplibre-gl@4.7.1/dist/maplibre-gl.css' />
<script src='https://unpkg.com/maplibre-gl@4.7.1/dist/maplibre-gl.js'></script>

<!-- deck gl -->
<script src="https://unpkg.com/deck.gl@latest/dist.min.js"></script>

<!-- Contains helper functions/data/constants -->
<script src="{{ url_for('static', filename='js/state-disease-data/script.js') }}"></script>
{% endblock %}

{% block linkout %}
{% endblock %}

{% block bodyScripts %}

<script type="module">
    // await Promise.allSettled([ // wait for following to be defined/load in
    //     // customElements.whenDefined('sl-checkbox'),
    //     // customElements.whenDefined('sl-select'),
    //     // customElements.whenDefined('sl-tab-group'),
    //     // customElements.whenDefined('sl-option'),

    //     // customElements.whenDefined('sl-button'),
    //     // customElements.whenDefined('sl-icon'),
    //     // customElements.whenDefined('sl-icon-button'),
    //     // customElements.whenDefined('sl-radio'),
    //     // customElements.whenDefined('sl-radio-group'),
    //     // customElements.whenDefined('sl-resize-observer'),
    //     // customElements.whenDefined('sl-split-panel'),
    //     // customElements.whenDefined('sl-switch'),
    //     // customElements.whenDefined('sl-tab'),
    // ])

    // get zcta data, then visualize for each panel
    // var diseases =d3.selectAll("#map-disease-selector sl-option:not([disabled])").nodes().map(d => {return d.value})

</script>

{% endblock %}