<!DOCTYPE html>
<html lang="en" class="sl-theme-dark">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, maximum-scale=1.0" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/themes/light.css" />

  <style>
    * {
        box-sizing: border-box;
    }
    html, body {
    margin: 0;
    padding: 0;
    }
    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-family: var(--sl-font-sans);
        text-align: center;
        width: fit-content;
        height: fit-content;
    }
  </style>

</head>

<body>
  <!-- Top nav bar -->
  <h1>No Report Available</h1>

</body>

</html>