{% extends "subtemplates/panel.html" %}

{% block options %}
<div id="grid-options" class="sidebar-container">
  <!-- count vs rate switch -->
  <sl-radio-group value="count" id="{{panel.name}}-rate-switch" class="center-self" size="small">
    <sl-tooltip content="Count of hospitalizations">
      <sl-radio-button pill value="count">Count</sl-radio-button>
    </sl-tooltip>
    <sl-tooltip content="Hospitalizations per 1000 people">
      <sl-radio-button pill value="rate">Rate</sl-radio-button>
    </sl-tooltip>
  </sl-radio-group>

  <!-- disease selector -->
  <sl-select value="{{ metadata['diseases'].keys() | first }}" id="grid-disease-selector" class="fill-width">
    <p slot="label">Select a disease or group of diseases</p>
    {% for disease, name in metadata['diseases'].items() %}
    <sl-option value="{{ disease }}">{{ name }}</sl-option>
    {% endfor %}
  </sl-select>

  <!-- data source/hospitalization level selector -->
  <sl-select value="state-testing" id="{{panel.name}}-data-source-sort-selector" class="fill-width ">
    <p slot="label">Select hospitalization level</p>
    <sl-tooltip content="Hospitalizations based on statewide projections" trigger="hover" hoist>
      <sl-option value="state-testing" >State (current week)</sl-option>
    </sl-tooltip>
    <sl-tooltip content="Hospitalizations based on statewide projections" trigger="hover" hoist>
      <sl-option value="state-prediction" id="grid-state-prediction-option">State (2nd week prediction)</sl-option>
    </sl-tooltip>
    <sl-tooltip content="Hospitalizations based on Prisma Health and MUSC EHR" trigger="hover" hoist>
      <sl-option value="health-system-data">Health System</sl-option>
    </sl-tooltip>
  </sl-select>

  <!-- grid item sort selection -->
  <sl-select value="alphabetical-low" id="{{panel.name}}-sort" class="fill-width ">
    <p slot="label">Sort zctas</p>
    <sl-option value="value-high" >Value (count or rate) High-Low</sl-option>
    <sl-option value="value-low">Value (count or rate) Low-High</sl-option>
    <sl-option value="alphabetical-low" >Alphanumerical A-Z-0-9</sl-option>
    <sl-option value="alphabetical-high">Alphanumerical 9-0-Z-A </sl-option>
  </sl-select>

  <!-- grid item filtration (text) -->
  <sl-input id="grid-text-filter" clearable>
    <p slot="label">Filter by ZCTA or County</p>
  </sl-input>

  <!-- imputation inclusion checkbox -->
  <sl-checkbox id="grid-include-imputations" checked>Include imputated data</sl-checkbox>

  <p id="grid-summary" class="panel-summary center-self">
    Weekly count of hospitalizations due to covid-19, influenza, and respiratory syncytial virus (RSV) from <text id="grid-start-date"></text> to <text id="grid-end-date"></text>.
    <br/>
    Hospitalization cases are aggregated by zip code tabulation areas (zcta).
  </p>
  <div id="grid-options-hospitalizations-branch">

  </div>

</div>

{% endblock %}

{% block contents %}
<!-- TODO: make a legend -->
<sl-resize-observer id="grid-container-resizer">
  <div id="grid-container"></div>
</sl-resize-observer>
<div id="grid-legend">
  <svg id="grid-legend-svg">
    <line id="grid-legend-state-model-line" x1=".5em" x2="3.5em" y1="1em" y2="1em"></line>
    <text id="grid-legend-state-model-text" x="4em" y="1.5em">State Prediction</text>
    <line id="grid-legend-health-system-line" x1=".5em" x2="3.5em" y1="2em" y2="2em"></line>
    <text id="grid-legend-health-system-text" x="4em" y="2.5em">Health System</text>
  </svg>
</div>
{% endblock %}

{% block scripts %}
<script>
  // containing elements
  var gridContent = document.getElementById("grid-content")
  var gridContainer = document.getElementById("grid-container")
  var gridContainerResizer = document.getElementById("grid-container-resizer")
  var gridOptionsHospitalizationsBranch = document.getElementById("grid-options-hospitalizations-branch")

  // interactive elements
  var gridRateSwitch = document.getElementById("grid-rate-switch")
  var gridDiseaseSelector = document.getElementById("grid-disease-selector")
  var gridDataSourceSortSelector = document.getElementById("grid-data-source-sort-selector")
  var gridStatePredictionOption = document.getElementById("grid-state-prediction-option")
  var gridSort = document.getElementById("grid-sort")
  var gridTextFilter = document.getElementById("grid-text-filter")
  var gridIncludeImputations = document.getElementById("grid-include-imputations")

  // Text elements
  var gridStartDate = d3.select("#grid-start-date")
  var gridEndDate = d3.select("#grid-end-date")

  // Visualization variables
  var margin = { top: em, right: 0, bottom: 0.5*em, left: 0 }
  var gridTooltipWidth = 200
  var gridTooltipHeight = 130

  var gridLineStyle = {
    "health-system": null,
    "state-model": "5,5",
  }

  var gridBackgroundColors = [1, 2, 3, 4].map(i => d3.schemeReds[9][i])

  set{{panel.name}}Panel()
</script>

<script src="{{ url_for('static', filename='js/respiratory/grid.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/respiratory/grid-interactions.js') }}" type="module"></script>
{% endblock %}