{% set min_width = "350px" %} {% extends "subtemplates/panel.html" %} {% block
options %}
<div id="exploration-options" class="sidebar-container">
  <!-- disease selector -->
  <sl-select
    value="influenza"
    id="exploration-disease-selector"
    class="fill-width"
    size="small"
  >
    <p slot="label">Select a disease or group of diseases</p>
    {% for disease, name in metadata['diseases'].items() %}
    <sl-option value="{{ disease }}" class="map-disease-option"
      >{{ name }}</sl-option
    >
    {% endfor %}
  </sl-select>

  <!-- region selector -->
  <sl-select
    value="state"
    id="exploration-geographic-unit-selector"
    class="fill-width"
    size="small"
  >
    <p slot="label">Geographic unit</p>
    {% for region in metadata['available_models']['respiratory_diseases'].keys()
    %}
    <sl-option class="map-geographic-unit-option" value="{{ region }}"
      >{{ metadata['region_sizes'][region] }}</sl-option
    >
    {% endfor %}
  </sl-select>

  <!-- population -->
  <sl-select
    value="{{ metadata['available_models']['respiratory_diseases']['county'] | list | first }}"
    id="exploration-population-selector"
    class="fill-width"
    size="small"
  >
    <p slot="label">Select population</p>
    {% for population in
    metadata['available_models']['respiratory_diseases']['county'].keys() %}
    <sl-tooltip
      class="map-population-tooltip"
      content="{{ metadata['populations_tooltips'][population] }}"
      trigger="hover"
      hoist
    >
      <sl-option class="map-population-option" value="{{ population }}"
        >{{ metadata['populations'][population] }}</sl-option
      >
    </sl-tooltip>
    {% endfor %}
  </sl-select>

  <!-- outcome variable -->
  <sl-select
    value="inpatient_hospitalizations"
    id="exploration-outcome-variable-selector"
    class="fill-width"
    size="small"
  >
    <p slot="label">Select outcome variable</p>
    {% for outcome in
    metadata['available_models']['respiratory_diseases']['county'].values() |
    first %}
    <sl-tooltip
      class="map-outcome-tooltip"
      content="{{ metadata['outcome_variables_tooltips'][outcome] }}"
      trigger="hover"
      hoist
    >
      <sl-option class="map-outcome-option" value="{{ outcome }}"
        >{{ metadata['outcome_variables'][outcome] }}</sl-option
      >
    </sl-tooltip>
    {% endfor %}
  </sl-select>

  <!-- grid item filtration (text) -->
  <sl-dropdown sync="width">
    <sl-input
      slot="trigger"
      id="location-id-search"
      clearable
      type="text"
      spellcheck="false"
      size="small"
      value="SC"
      disabled
    >
      <p slot="label">Location</p>
      <sl-icon
        name="chevron-down"
        slot="suffix"
        id="location-id-search-suffix"
        class="select__combobox"
      ></sl-icon>
    </sl-input>

    <sl-menu id="location-menu">
      {% for region in metadata['region_sizes'].keys() %} {% for location in
      metadata[region]|sort() %}
      <sl-menu-item value="{{ location }}" class="{{ region }}-id location-id"
        >{{ location }}</sl-menu-item
      >
      {% endfor %} {% endfor %}
    </sl-menu>
  </sl-dropdown>
</div>

{% endblock %} {% block contents %}
<iframe
  id="model-exploration"
  title="Selected Model Information"
  src=""
  style="border: none; width: 100%; height: 100%"
></iframe>

{% endblock %} {% block scripts %}

<script>
  //   var modelLocation = null;

  //   // Controls
  explorationDiseaseSelector = document.getElementById(
    "exploration-disease-selector",
  );
  explorationGeographicUnitSelector = document.getElementById(
    "exploration-geographic-unit-selector",
  );

  explorationPopulationSelector = document.getElementById(
    "exploration-population-selector",
  );

  explorationOutcomeVariableSelector = document.getElementById(
    "exploration-outcome-variable-selector",
  );

  // Location selector
  locationIdSearch = document.getElementById("location-id-search");
  locationMenu = document.getElementById("location-menu");

  //
  modelExploration = document.getElementById("model-exploration");

  // // Options selected
  explorationGeographicUnit = explorationGeographicUnitSelector.value;
  explorationPopulation = explorationPopulationSelector.value;
  explorationOutcomeVariable = explorationOutcomeVariableSelector.value;

  //   window.removeEventListener("keydown", swapTheme);
</script>

<!-- <script
  src="{{ url_for('static', filename='js/respiratory/model-exploration-interactions.js') }}"
  type="module"
></script> -->

<script type="module">
  const iframeContent = document.querySelector("iframe");

  document.addEventListener("DOMContentLoaded", async () => {
    controlDependencyTest();

    iframeContent.src = `/respiratory-model-exploration?disease=${explorationDiseaseSelector.value}&geographic-unit=${explorationGeographicUnitSelector.value}&population=${explorationPopulationSelector.value}&outcome-variable=${explorationOutcomeVariableSelector.value}&location=SC`;
  });

  // console.log(metadata);
  const popEl = document.getElementById("exploration-population-selector");
  const geoEl = document.getElementById("exploration-geographic-unit-selector");
  const outEl = document.getElementById(
    "exploration-outcome-variable-selector",
  );
  const disEl = document.getElementById("exploration-disease-selector");
  // geoEl.style.dis

  [popEl, geoEl, outEl, disEl].forEach((el) => {
    el.addEventListener("sl-change", (event) => {
      iframeContent.src = `/respiratory-model-exploration?disease=${explorationDiseaseSelector.value}&geographic-unit=${explorationGeographicUnitSelector.value}&population=${explorationPopulationSelector.value}&outcome-variable=${explorationOutcomeVariableSelector.value}&location=SC`;
    });
  });

  async function controlDependencyTest() {
    await Promise.allSettled([
      // wait for following to be defined/load in
      customElements.whenDefined("sl-select"),
      customElements.whenDefined("sl-option"),
    ]);

    // 1) population:
    popEl.querySelectorAll("sl-option").forEach((opt) => {
      if (opt.value === "general_population") {
        opt.style.display = "";
      } else {
        opt.style.display = "none";
      }
    });

    // if (popEl.value !== "general_population") {
    //   popEl.value = "general_population";
    //   popEl.dispatchEvent(new CustomEvent("sl-change", { bubbles: true }));
    // }

    // // 2) geographic unit: only SC
    geoEl.querySelectorAll("sl-option").forEach((opt) => {
      console.log(opt.value);
      if (opt.value === "state") {
        opt.style.display = "";
      } else {
        opt.style.display = "none";
      }
    });

    if (geoEl.value !== "state") {
      geoEl.value = "state";
      geoEl.dispatchEvent(new CustomEvent("sl-change", { bubbles: true }));
    }

    outEl.querySelectorAll("sl-option").forEach((opt) => {
      if (opt.value === "inpatient_hospitalizations") {
        opt.style.display = "";
      } else {
        opt.style.display = "none";
      }
    });

    const selectableDiseases = ["covid_19", "influenza", "RSV"];

    disEl.querySelectorAll("sl-option").forEach((opt) => {
      if (selectableDiseases.includes(opt.value)) {
        opt.style.display = "";
      } else {
        opt.style.display = "none";
      }
    });

    // disEl.querySelectorAll("sl-option").forEach((opt) => {
    //   opt.hidden = false;
    //   opt.disabled = false;
    // });
  }
</script>

{% endblock %}
