{% set min_width = "350px" %} {% extends "subtemplates/panel.html" %} {% block
options %}
<div id="map-options" class="sidebar-container">
  <!-- reset map button (zoom & zcta selection) -->
  <!-- <sl-button pill id="map-reset-button" class="center-self" size="small"
    >Reset Map</sl-button
  >
  <sl-divider class="options-divider"></sl-divider> -->

  <!-- count vs rate switch -->
  <sl-radio-group
    value="count"
    id="map-type-switch"
    class="center-self"
    size="small"
  >
    <sl-tooltip content="Count of hospitalizations">
      <sl-radio-button pill value="count">Count</sl-radio-button>
    </sl-tooltip>
    <sl-tooltip content="Hospitalizations per 1000 people">
      <sl-radio-button pill value="rate">Rate</sl-radio-button>
    </sl-tooltip>
    <sl-tooltip content="Percent change from last week">
      <sl-radio-button pill value="percentDifference"
        >Percent Change</sl-radio-button
      >
    </sl-tooltip>
  </sl-radio-group>

  <!-- disease selector -->
  <sl-select
    value="{{ metadata['diseases'].keys() | first }}"
    id="map-disease-selector"
    class="fill-width"
    size="small"
  >
    <p slot="label">Select a disease or group of diseases</p>
    {% for disease, name in metadata['diseases'].items() %}
    <sl-option value="{{ disease }}">{{ name }}</sl-option>
    {% endfor %}
  </sl-select>

  <!-- region selector -->
  <sl-select
    value="zcta"
    id="map-resolution-selector"
    class="fill-width"
    size="small"
  >
    <p slot="label">Geographic unit</p>
    {% for region, name in metadata['region_sizes'].items() %}
    <sl-option value="{{ region }}">{{ name }}</sl-option>
    {% endfor %}
  </sl-select>

  <!-- data source -->
  <sl-select
    value="general_population"
    id="map-data-source-selector"
    class="fill-width"
    size="small"
  >
    <p slot="label">Select population</p>
    <sl-tooltip
      content="All South Carolina residents in the selected geography"
      trigger="hover"
      hoist
    >
      <sl-option value="general_population">General Population</sl-option>
    </sl-tooltip>
    <sl-tooltip
      content="South Carolina residents in the selected geography served by the PRISMA or MUSC health system"
      trigger="hover"
      hoist
    >
      <sl-option value="health-system">Health Systems (PRISMA/MUSC)</sl-option>
    </sl-tooltip>
  </sl-select>

  <!-- data variable -->
  <sl-select
    value="all_encounters"
    id="map-data-variable-selector"
    class="fill-width"
    size="small"
  >
    <p slot="label">Select outcome variable</p>
    <sl-tooltip
      content="Inpatient and outpatient hospitalizations and emergency department visists"
      trigger="hover"
      hoist
    >
      <sl-option value="all_encounters">Encounters</sl-option>
    </sl-tooltip>
    <sl-tooltip content="Positive tests" trigger="hover" hoist>
      <sl-option value="positive_tests">Positive Tests</sl-option>
    </sl-tooltip>
    <sl-tooltip
      content="Average effective reproductive number"
      trigger="hover"
      hoist
    >
      <sl-option value="rate_of_transmission">Transmission</sl-option>
    </sl-tooltip>
  </sl-select>

  <!-- imputation inclusion checkbox -->
  <sl-checkbox id="map-include-imputations" checked
    >Include imputated data</sl-checkbox
  >

  <!-- Map Resources section -->
  <p style="margin-top: 1em; margin-bottom: 0.5em; font-weight: bold">
    Map Resources
  </p>
  <sl-checkbox id="map-options-hospital-icons-toggle" class="map-icons-toggle"
    >Hospitals</sl-checkbox
  >
  <sl-checkbox
    id="map-options-mobile-clinic-icons-toggle"
    class="map-icons-toggle"
    >Mobile Health Clinics</sl-checkbox
  >
  <sl-checkbox
    id="map-options-community-partner-icons-toggle"
    class="map-icons-toggle"
    >Community Partners</sl-checkbox
  >
  <sl-divider class="options-divider"></sl-divider>
  <!-- map options -->
  <sl-checkbox id="map-options-geographic-labels-toggle" class="map-toggle"
    >Geographic Labels</sl-checkbox
  >
</div>

<div id="map-state-hospitalizations" class="state-hospitalizations">
  <p id="map-state-hospitalizations-title" class="state-hospitalizations-title">CDC-Reported State Hospitalizations</p>
  <p id="map-state-hospitalizations-subtitle" class="state-hospitalizations-subtitle">N/A</p>
  <sl-resize-observer id="map-state-hospitalizations-resizer">
    <svg id="map-state-hospitalizations-svg" class="state-hospitalizations-svg"></svg>
  </sl-resize-observer>
</div>
<sl-dialog id="map-state-hospitalizations-large" class="dialog-width state-hospitalizations" >
  <div slot="label">
    <p id="map-state-hospitalizations-large-title" class="state-hospitalizations-title">CDC-Reported State Hospitalizations</p>
    <p id="map-state-hospitalizations-large-subtitle" class="state-hospitalizations-subtitle">N/A</p>
  </div>
  <sl-resize-observer id="map-state-hospitalizations-large-resizer">
    <svg id="map-state-hospitalizations-large-svg" class="state-hospitalizations-large-svg"></svg>
  </sl-resize-observer>
</sl-dialog>

{% endblock %} {% block contents %}

<div class="fill-width fill-height container">
  <div class="row" style="height: 100%; position: relative">
    <div
      id="loading-spinner"
      class="col-md-12"
      style="
        height: 100%;
        margin: 0px;
        padding: 0px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        background-color: rgba(211, 211, 211, 0.8);
        visibility: hidden;
      "
    >
      <div
        class="spinner-border spinner-border-lg text-primary"
        role="status "
        style="position: absolute; width: 60px; height: 60px"
      >
        <!-- <span class="sr-only" >Loading...</span> -->
      </div>
    </div>
    <div
      class="col-md-2"
      style="border-left: 1px solid lightgray; height: 100%"
    >
      <div
        style="
          height: 18%;
          border-bottom: 1px double lightgray;
          font-size: 0.8rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        "
      >
        <div style="height: 20%; margin-top: 0.5rem; margin-bottom: 0">
          Past Hospitalization Records
        </div>

        <div
          style="
            display: flex;
            font-size: 0.7rem;
            height: 30%;
            flex-direction: column;
            align-items: self-end;
          "
        >
          <label
            style="
              padding: 0.25rem 0.5rem;
              font-size: 0.75rem;
              font-weight: bold;
              margin: 0px;
              padding: 0px;
            "
            >Sort By</label
          >
          <select
            class="form-select form-select-sm input-sm"
            id="floatingSelect"
            aria-label="Floating label select example"
            style="line-height: 14px; font-size: 0.7rem"
          >
            <option value="value-high">Value High-Low</option>
            <option value="value-low">Value Low-High</option>
            <option selected value="alphabetical-low">
              Alphabetical A-Z-0-9
            </option>
            <option value="alphabetical-high">Alphanumerical 9-0-Z-A</option>
          </select>
        </div>

        <div
          style="
            display: flex;
            font-size: 0.7rem;
            height: 30%;
            flex-direction: column;
            align-items: self-end;
          "
        >
          <label
            style="
              padding: 0.25rem 0.5rem;
              font-size: 0.75rem;
              font-weight: bold;
              padding: 0px;
              margin: 0px;
            "
            >Filter By</label
          >
          <input
            class="form-control form-control-sm"
            id="floatingInput"
            placeholder="ZCTA or County"
            style="line-height: 14px; font-size: 0.7rem"
          />
        </div>

        <hr style="margin: 0px" />
      </div>

      <div
        id="respiratory-smallMultiples-region-of-interest"
        style="
          height: fit-content;
          max-height: 82%;
          width: fit-content;
          background-color: white;
          /* border: 2px solid black; */
          border-radius: 0.1rem;
          box-shadow: 0 0.2rem 0.2rem gray;
          overflow-y: auto;
          z-index: 10;
        "
      ></div>
      <div
        id="respiratory-smallMultiples-container"
        style="height: 82%; width: 100%; overflow-y: auto; overflow-x: hidden"
      ></div>
    </div>
    <div class="col-md-10" style="margin: 0px; padding: 0px">
      <div
        class="row"
        style="width: 100%; height: 100%; padding: 0.5rem; margin: 0px"
      >
        <div class="col-md-12" style="position: relative">
          <div
            class="fill-width fill-height"
            id="focus-map-div"
            style="
              border-radius: 0.5rem;
              border: 1px solid lightgray;
              box-shadow: 0.2rem 0.2rem #888888;
            "
          >
            <svg
              id="focus-map-legend-svg"
              style="
                position: absolute;
                height: 4rem;
                width: 15rem;
                bottom: 3%;
                left: 3%;
                background-color: rgb(248, 248, 248, 0.8);
                z-index: 1;
                border: 1px solid gray;
                border-radius: 0.5rem;
              "
            ></svg>
          </div>
        </div>
      </div>
      <!-- <div
        class="row"
        style="width: 100%; height: 0%; padding: 0.5rem; margin: 0px"
      >
        <div class="col-md-6" style="position: relative">
          <div
            class="fill-width fill-height"
            id="sub-map1-div"
            style="
              border-radius: 0.5rem;
              border: 1px solid lightgray;
              box-shadow: 0.2rem 0.2rem #888888;
            "
          ></div>
          <svg
            id="sub-map1-legend-svg"
            style="
              position: absolute;
              height: 4rem;
              width: 15rem;
              bottom: 3%;
              left: calc(6% + var(--bs-gutter-x) * 0.5);
              background-color: rgb(248, 248, 248, 0.8);
              z-index: 1;
              border: 1px solid gray;
              border-radius: 0.5rem;
            "
          ></svg>
        </div>
        <div class="col-md-6" style="position: relative">
          <div
            class="fill-width fill-height"
            id="sub-map2-div"
            style="
              border-radius: 0.5rem;
              border: 1px solid lightgray;
              box-shadow: 0.2rem 0.2rem #888888;
            "
          ></div>
          <svg
            id="sub-map2-legend-svg"
            style="
              position: absolute;
              height: 4rem;
              width: 15rem;
              bottom: 3%;
              left: calc(6% + var(--bs-gutter-x) * 0.5);
              background-color: rgb(248, 248, 248, 0.8);
              z-index: 1;
              border: 1px solid gray;
              border-radius: 0.5rem;
            "
          ></svg>
        </div>
      </div> -->
    </div>

    
  </div>
</div>

{% endblock %} {% block scripts %}
<!-- 1) MapLibre GL CSS & JS (required for maplibregl.Map) -->
<link
  href="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css"
  rel="stylesheet"
/>
<script src="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js"></script>

<!-- 2) Deck.gl UMD bundle (pin to 8.9.27) -->
<script src="https://unpkg.com/deck.gl@8.9.27/dist.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
  integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
  crossorigin="anonymous"
></script>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
  crossorigin="anonymous"
/>
<!-- 5) Your module code—now deck, loaders & maplibregl are ready -->
<!-- <script
  src="{{ url_for('static', filename='js/respiratory/dyhan/state-hospitalization-info.js') }}"
  type="module"
></script> -->

<!-- <script
  src="{{ url_for('static', filename='js/respiratory/dyhan2/drawHospitalization.js') }}"
  type="module"
></script> -->
<script
  src="{{ url_for('static', filename='js/respiratory/dyhan2/smallMultiples/smallMultiples-hospitalization.js') }}"
  type="module"
></script>
<script
  src="{{ url_for('static', filename='js/respiratory/dyhan2/mapManager.js') }}"
  type="module"
></script>
{% endblock %}
