{% set min_width = "350px" %}
{% extends "subtemplates/panel.html" %}

{% block options %}
<div id="map-options" class="sidebar-container">
  <!-- reset map button (zoom & zcta selection) -->
  <sl-button pill id="map-reset-button" class="center-self">Reset Map</sl-button>
  <sl-divider class="options-divider"></sl-divider>

  <!-- count vs rate switch -->
  <sl-radio-group value="count" id="map-rate-switch" class="center-self" size="small">
    <sl-tooltip content="Count of hospitalizations">
      <sl-radio-button pill value="count">Count</sl-radio-button>
    </sl-tooltip>
    <sl-tooltip content="Hospitalizations per 1000 people">
      <sl-radio-button pill value="rate">Rate</sl-radio-button>
    </sl-tooltip>
  </sl-radio-group>

  <!-- disease selector -->
  <sl-select value="{{ metadata['diseases'].keys() | first }}" id="map-disease-selector" class="fill-width">
    <p slot="label">Select a disease or group of diseases</p>
    {% for disease, name in metadata['diseases'].items() %}
    <sl-option value="{{ disease }}">{{ name }}</sl-option>
    {% endfor %}
  </sl-select>

  <!-- region selector -->
  <!-- <sl-select value="zcta" id="map-region-selector" class="fill-width"> -->
  <sl-select value="region" id="map-region-selector" class="fill-width">
    <p slot="label">Geographic unit</p>
    {% for region, name in metadata['region_sizes'].items() %}
    <sl-option value="{{ region }}">{{ name }}</sl-option>
    {% endfor %}
  </sl-select>

  <!-- data source/hospitalization level selector -->
  <sl-select value="state-testing" id="map-data-source-selector" class="fill-width">
    <p slot="label">Select hospitalization level</p>
    <sl-option value="state-testing" >State</sl-option>
    <sl-option value="health-system-data">Health System</sl-option>
  </sl-select>
  
  <!-- imputation inclusion checkbox -->
  <sl-checkbox id="map-include-imputations" checked>Include imputated data</sl-checkbox>

  <!-- map icon inclusion checkboxes (hospital, mobile health clinic, community partners) -->
  <sl-divider class="options-divider"></sl-divider>
  <sl-checkbox id="map-options-hospital-icons-toggle" class="map-icons-toggle" style="display: initial;">Hospitals</sl-checkbox>
  <sl-checkbox id="map-options-mobile-clinic-icons-toggle" class="map-icons-toggle" style="display: initial;">Mobile Health Clinics</sl-checkbox>
  <sl-checkbox id="map-options-community-partner-icons-toggle" class="map-icons-toggle" style="display: initial;">Community Partners</sl-checkbox>
  
  <!-- TODO Fix the below -->
  <!-- <p id="map-summary" class="panel-summary center-self">
    Weekly <text>count</text> of hospitalizations due to <text>covid-19, influenza, and respiratory syncytial virus (RSV)</text>.
    <br/>
    Hospitalization cases are aggregated by zip code tabulation area (zcta).
  </p> -->
</div>

<div id="map-state-hospitalizations" >
  <p id="map-state-hospitalizations-title" class="map-state-hospitalizations-title">CDC-Reported State Hospitalizations</p>
  <sl-resize-observer id="map-state-hospitalizations-resizer">
    <svg id="map-state-hospitalizations-svg"></svg>
  </sl-resize-observer>
</div>
<sl-dialog id="map-state-hospitalizations-large" class="dialog-width" >
  <p id="map-state-hospitalizations-large-title" slot="label">CDC-Reported State Hospitalizations</p>
  <sl-resize-observer id="map-state-hospitalizations-large-resizer">
    <svg id="map-state-hospitalizations-large-svg"></svg>
  </sl-resize-observer>
</sl-dialog>

{% endblock %}

{% block contents %}
<div class="fill-width fill-height" id="map-div">
  <!-- <sl-resize-observer id="map-resizer">
    <svg id="map-svg" class="scroll fill-height fill-width"></svg>
  </sl-resize-observer> -->
</div>
<div id="choropleth-legend">
  <svg id="choropleth-legend-svg"></svg>
</div>
{% endblock %}

{% block scripts %}
<script>
  dataVersion = 0
  mapResetButton = document.getElementById("map-reset-button")
  mapRateSwitch = document.getElementById("map-rate-switch")

  mapDiseaseSelector = document.getElementById("map-disease-selector")
  mapRegionSelector = document.getElementById("map-region-selector")
  mapDataSourceSelector = document.getElementById("map-data-source-selector")
  hospitalIconsToggle = document.getElementById("map-options-hospital-icons-toggle")
  mobileClinicIconsToggle = document.getElementById("map-options-mobile-clinic-icons-toggle")
  communityPartnerIconsToggle = document.getElementById("map-options-community-partner-icons-toggle")
  mapIncludeImputations = document.getElementById("map-include-imputations")

  // aggregation visualization elements
  mapStateHospitalizationsResizer = document.getElementById("map-state-hospitalizations-resizer")
  mapStateHospitalizationsSvg = document.getElementById("map-state-hospitalizations-svg")
  mapStateHospitalizationsLarge = document.getElementById("map-state-hospitalizations-large")
  mapStateHospitalizationsLargeResizer = document.getElementById("map-state-hospitalizations-large-resizer")
  mapStateHospitalizationsLargeSvg = document.getElementById("map-state-hospitalizations-large-svg")
  
  
  mapDiv = document.getElementById("map-div")
  choroplethLegendSVG = document.getElementById("choropleth-legend-svg")

</script>

<script src="{{ url_for('static', filename='js/respiratory/map.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/respiratory/map-interactions.js') }}" type="module"></script>

<script type="module">
  await Promise.allSettled([ // wait for following to be defined/load in
        customElements.whenDefined('sl-tab-group'),
        customElements.whenDefined('sl-button'),
        customElements.whenDefined('sl-resize-observer'),
        customElements.whenDefined('sl-split-panel'),
        customElements.whenDefined('sl-tab'),
    ])
  set{{panel.name}}Panel()

</script>
{% endblock %}
