{% extends "subtemplates/base.html" %}
{% block title %}DMA-PRIME{% endblock %}
{% block style %}
<!-- Linking stylesheets -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/respiratory/respiratory-style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/respiratory/map-style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/respiratory/grid-style.css') }}" />
{% endblock %}

{% block headScripts %}
<!-- Adding datetime package timejs (allows timezone date instantiation) -->
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/utc.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/customParseFormat.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/isSameOrAfter.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/isSameOrBefore.js"></script>

<script>
    // Ensuring the timejs additional plugins are linked
    dayjs.extend(window.dayjs_plugin_utc)
    dayjs.extend(window.dayjs_plugin_customParseFormat)
    dayjs.extend(window.dayjs_plugin_isSameOrAfter)
    dayjs.extend(window.dayjs_plugin_isSameOrBefore)

    // A value... I forget where I got it from - I think the US census
    // TODO: Find a better place to put this value? maybe script.js?
    // TODO: Find source for value
    scPopulation = 5118425

    zctaData = {}
    // zctaData = null
</script>

<!-- maplibre gl -->
<link rel='stylesheet' href='https://unpkg.com/maplibre-gl@4.7.1/dist/maplibre-gl.css' />
<script src='https://unpkg.com/maplibre-gl@4.7.1/dist/maplibre-gl.js'></script>

<!-- deck gl -->
<script src="https://unpkg.com/deck.gl@latest/dist.min.js"></script>

<!-- Contains helper functions/data/constants -->
<script>
    metadata = {{ metadata | safe }}
</script>
<script src="{{ url_for('static', filename='js/respiratory/script.js') }}" type="module"></script>


{% endblock %}

{% block linkout %}
<!-- Link to prediction modelling/model exploration page -->
<sl-button slot="nav" id="prediction-modelling-button-link" href="{{ url_for('modeling') }}" target="_blank"
    variant="text">Prediction Modelling <sl-icon name="box-arrow-up-right"></sl-icon></sl-button>
{% endblock %}

{% block bodyScripts %}

<script type="module">
    // toggle tooltip labels
    document.addEventListener("keyup", function(e) {
        if (e.key == "l") {
            d3.selectAll(".tooltip-label-group")
                .each(function(d) {
                    display = d3.select(this).attr("display") == "none" ? "initial" : "none"
                    d3.select(this).attr("display", display)
                })
        }
    })
</script>

{% endblock %}