/* Useful class styling */

.fill-height {
    height: 100%;
  }
  
  .fill-width {
    width: 100%;
  }
  
  .hide-overflow {
    overflow: hidden
  }
  
  .scroll {
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: scroll;
  }
  
  .center-self {
    align-self: center;
    justify-self: center;
  }
  
  /* Specifics */
  p,
  text {
    /* Set font family for entire website */
    font-family: var(--sl-font-sans);
    margin: 0;
  }
  
  sl-tab-group,
  sl-tab-group::part(base),
  sl-tab-group::part(body),
  sl-tab-panel,
  sl-tab-panel::part(base),
  sl-tab-panel::part(body) {
    /* Ensuring entire panel is full height (panel is the actual content below the nav bar) */
    height: 100%;
  }
  
  sl-tab-panel::part(base) {
    /* Removing padding from panel (it was 1rem on top and bottom) */
    padding: 0;
  }
    
  .sidebar {
    /* This is the lefthand sidebar
      Differs from sidebar container because it is a part of the panel template as opposed to the panel-instance 
    */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    overflow-y: auto;
  }
  
  .options-divider {
    /* Horizontal content divider for the options in the sidebar */
    --spacing: 0;
  }
  
  .sidebar-container {
    /* this contains all of the sidebar content (options and the aggregate graphs) and resides within the .sidebar*/
    height: max-content;
    overflow-wrap: normal;
    display: grid;
    row-gap: var(--sl-spacing-x-small);
    padding: var(--sl-spacing-large);
  }

  .sidebar-container p {
    font-size: var(--sl-font-size-small);
  }

  .sidebar-container sl-option::part(label) {
    font-size: var(--sl-font-size-small);
  }
  
  .hidden-children > * {
    /* Mainly used for the sidebar when closed */
    display: none;
  }
  
  .hide-sidebar-button {
    /* The button that opens/closes the sidebar */
    font-size: var(--sl-font-size-large);
    background-color: var(--sl-color-neutral-200);
    z-index: 10;
  }
  
  .main-content-split-panel::part(divider) {
    /* Vertical bar that splits the panel into sidebar and content */
    cursor: unset;
  }

  /* For link to links page */
  #main-tab::part(base) {
    opacity: 1;
    cursor: pointer;
  }

  #main-tab-link, #main-tab-link:visited {
    text-decoration: none;
    color: var(--sl-color-neutral-600);
  }

  #main-tab-link:hover {
    text-decoration: none;
    color: var(--sl-color-primary-600);
  }

  /* The following is from  https://dev.to/lennythedev/css-gotcha-how-to-fill-page-with-a-div-270j*/
  /* override browser default */
  html,
  body {
    margin: 0;
    padding: 0;
  }
  
  /* use viewport-relative units to cover page fully */
  body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
  }
  
  /* include border and padding in element width and height */
  * {
    box-sizing: border-box;
  }
  